nav {
  text-align: left;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: inline;
  color: red;
}
#welcome-section,
welcome-section {
  height: 100vh;
  text-align: center;
  margin-top: 100px;
  background: cornsilk;
}
h2 {
  height: 50vh;
  text-align: center;
  background: BurlyWood;
  color: black;
}

.buy {
  text-align: center;
  line-height: 50;
}
#profile-link {
  margin: 10%;
  background: darkgray;
  font-size: 30px;
}
@media (min-width: 600px) {
  font-size: 30px;
}
